@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&family=Righteous&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #1E1B18;
    --secondary-color: #0A2463;
    --accent1-color: #D8315B;
    --accent2-color: #FFFAFF;

    --heading-font: 'Righteous', sans-serif;
    --paragraph-font: 'Noto Sans Bengali', sans-serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}
/** main {
    max-width: 800px;
    margin: 1rem 1rem;
} **/
body {
    font-family: var(--paragraph-font);
    padding: 0 6rem;
    

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 20px 0;
}
header {
    padding: 20px;
    background-color: var(--accent2-color);
    justify-content: space-evenly;
}
header img {
    grid-column: 1/2;
    /* align-items: center;
    justify-items: center; */
}
p {
    padding: 10px 20px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    font-family: 'Righteous', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2/3;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 2rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
/* section img {
    padding: 10px;
    max-width: 200px;
} */
#history1 {
    grid-column: 1/2;
}
#history-img {
    grid-column: 2/3;
    height: 250px;
}
#history2 {
    grid-column: 3/4;
}
figcaption {
    text-align: center;
    grid-row: 2/3;
}
#fig1, #fig2, #fig3, #fig4, #fig5 {
    display: grid;
}
figure img {
    grid-row: 1/2;
}
section h2, section p {
    text-align: center;
}
footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* footer nav a img {
    width: 100%;
    height: auto;
} */
footer nav a {
    padding: 0.5rem;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 88%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.hero article {
    position: absolute;
    top: 70px;
    padding: 0 80px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 15%;
    color: white;
    
}
.hero h1 {
    top: 20px;
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255, 0.5);
    padding: 4px;
    position: absolute;
}
.hero article img {
    width: 25%;
    height: auto;
    float: right;
    padding: 10px 0;
}
.grid {
    display: grid;
}
.grid p {
    text-align: left;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-box img {
    padding: 20px;
    max-width: 250px;
    max-height: 148.48px;
    flex-shrink: 1;
    /* flex: 5%; */
}

/*Class Selectors*/


/* .hero img {
    display: block;
    width: 100%;
    height: auto;
} */