@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&family=Righteous&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #1E1B18;
    --secondary-color: #0A2463;
    --accent1-color: #D8315B;
    --accent2-color: #FFFAFF;

    --heading-font: 'Righteous', sans-serif;
    --paragraph-font: 'Noto Sans Bengali', sans-serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}
/** main {
    max-width: 800px;
    margin: 1rem 1rem;
} **/
body {
    font-family: var(--paragraph-font);
    padding: 0 6rem;
    

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 20px 0;
}
header {
    padding: 20px;
    background-color: var(--accent2-color);
    justify-content: space-evenly;
}
header img {
    grid-column: 1/2;
    /* align-items: center;
    justify-items: center; */
}
p {
    padding: 10px 20px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    font-family: 'Righteous', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2/3;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 2rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
/* section img {
    padding: 10px;
    max-width: 200px;
} */
#history1 {
    grid-column: 1/2;
}
#history-img {
    grid-column: 2/3;
    height: 250px;
}
#history2 {
    grid-column: 3/4;
}
figcaption {
    text-align: center;
    grid-row: 2/3;
}
#fig1, #fig2, #fig3, #fig4, #fig5 {
    display: grid;
}

figure img {
    grid-row: 1/2;
}

section h2, section p {
    text-align: center;
}
footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* footer nav a img {
    width: 100%;
    height: auto;
} */
footer nav a {
    padding: 0.5rem;
}

form {
    border: 2px solid black;
    margin: 5px auto;
    width: 500px;
    border-radius: 0.8rem;
    display: grid;
    padding: 1rem;
    /* justify-content: center;
    text-align: center; */
    align-items: center;
    background-color: rgba(135, 207, 235, 0.367);
}

label, input, textarea, button, form p {
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
}

form div p {
    text-align: left;
    padding: 1rem 0 0;
    grid-column: 1/3;
}

form div {
    display: grid;
    align-items: center;
}

input[type="radio"] {
    grid-column: 1/2;
    justify-self: right;
}

input[type="radio"]:hover, .radiodiv label:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    justify-self: left;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

button {
    width: 200px;
    margin: 1rem auto;
    font-size: larger;
    padding: 5px;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px black;
    background-color: #0A2463;
    color: white;
}

button:hover {
    background-color: rgba(255, 255, 0, 0.423);
    color: black;
    cursor: pointer;
}

.checkboxdiv {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    align-items: center;
}

.checkboxdiv label {
    padding-right: 5px;
    font-size: smaller;
    justify-self: right;
}

.textareadiv {
    grid-template-columns: 1fr 3fr 0.5fr;
}

.textareadiv label {
    grid-column: 1/2;
    align-self: start;
    text-align: right;
    padding-right: 5px;
}

.textareadiv textarea {
    grid-column: 2/3;
}

.radiodiv input, textarea {
    margin: 0.5rem 0;
}

.userdetails {
    grid-template-columns: 1fr 2fr 0.5fr;
    margin: 5px 0;
}

.userdetails label {
    text-align: right;
    padding-right: 10px;
}
.radiodiv label {
    grid-column: 2/3;
}

.radiodiv {
    grid-template-columns: 1fr 2fr;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 88%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.hero article {
    position: absolute;
    top: 70px;
    padding: 0 80px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 15%;
    color: white;
    
}
.hero h1 {
    top: 20px;
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255, 0.5);
    padding: 4px;
    position: absolute;
}
.hero article img {
    width: 25%;
    height: auto;
    float: right;
    padding: 10px 0;
}
.grid {
    display: grid;
}
.grid p {
    text-align: left;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-box img {
    padding: 20px;
    max-width: 250px;
    max-height: 148.48px;
    /* flex-shrink: 1; */
    /* flex: 5%; */
}

.contactus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.contactus h1 {
    grid-column: 1/3;
    text-align: center;
}

.info {
    grid-column: 1/3;
    /* justify-content: center; */
    display: grid;
    margin: 0 auto;
}

.map {
    grid-column: 3/4;
    grid-row: 1/5;
    align-items: center;
    justify-self: center;
    align-items: center;
}

.contactus span {
    font-weight: bold;
}

.contactus p {
    text-align: left;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 2fr 1fr; */
    /* border: 1px solid #0A2463; */
    background-color: #FFFAFF;
}

.employees div {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-evenly;
    align-items: end;
}

.employees figure {
    padding: 1rem;
}

.employees figure img {
    max-width: 250px;
    max-height: 250px;
    padding: 0;
    box-shadow: 0 0 30px black;
}

.employees figcaption {
    padding-top: 10px;
}

.employees h2 {
    grid-column: 1/2;
    text-align: left;
    padding-left: 1rem;
}

.contactus, .employees {
    padding: 20px 0;
}






.trips {
    display: grid;
    padding: 20px 10px;
}


.trips h1 {
    text-align: center;
}

.topsection button {
    font-size: 40px;
    width: 300px;
}
/* .trips a {
    width: 200px;
    justify-self: center;
    text-decoration: none;
} */

#tripsfig1 {
    grid-column: 1/2;
}

#tripsfig2 {
    grid-column: 2/3;
}

#tripsfig3 {
    grid-column: 3/4;
}

.tripsfig {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1/2;
}

.tripsfig img {
    justify-self: center;
}

.tripname {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;
}

.tripA {
    grid-column: 1/2;
    justify-self: center;
}

.tripB {
    grid-column: 2/3;
    justify-self: center;
}

.tripB p {
    border-left: 1px solid #0A2463;
    border-right: 1px solid #0A2463;
}

.tripC {
    grid-column: 3/4;
    justify-self: center;
}

.left-align p {
    text-align: left;
}

.left-align {
    width: 75%;
}

aside {
    float: right;
    width: 20%;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    border: 1px solid #0A2463;
    border-radius: 0.5rem;
}

aside h2 {
    text-align: center;
    border-bottom: 2px solid black;
}

aside p {
    text-align: left;
    border-bottom: 0.5px solid #0A2463;
}

table {
    border-collapse: collapse;
    border:2px solid #0A2463;
    letter-spacing: 1px;    
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th, td {
    border:1px solid #0A2463;
    padding: 8px 20px;
}

td p {
    text-align: left;
    padding: 20px 10px;
}

td span, th {
    font-weight: bold;
}

td ul {
    padding: 10px 20px;
}

thead {
    font-size: 28px;
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
}

tbody {
    font-family: var(--paragraph-font);
}

tbody > tr:nth-of-type(even) {
    background-color: var(--accent2-color);
}

.tablediv {
    padding-top: 20px;
}
/* #employee3 {
    height: 310px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#employee3 figcaption {
    align-self: end;
} */
/* #employee1 {
    grid-column: 1/2;
}

#employee2 {
    grid-column: 2/3;
}

#employee3 {
    grid-column: 3/4;
} */
/*Class Selectors*/


/* .hero img {
    display: block;
    width: 100%;
    height: auto;
} */